.board-card-list {
  display: flex;
  flex-wrap: wrap;
}
.board-card {
  background-color: #705073;
  border-radius: 5px;
  margin: 0 2% 2% 0;
  width: 250px;
  height: 150px;
}

.board-card:hover {
  cursor: pointer;
  background-color: #826285;
}
.board-card-name {
  font-family: 'Lobster', cursive;
  padding: 5px 5px 5px 15px;
  font-size: 22px;
}

.board-card-body {
  margin-top: 75px;
  margin-left: 200px;
}

.board-card-body-link, .board-card-body-link:hover {
  color: #43184a;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
.board-card-body-link:hover {
  color: #35133b;
}
