.board-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.board-card {
  background-color: #b6cfe0;
  border-radius: 5px;
  margin: 0 2% 2% 0;
  width: 250px;
  height: 150px;
}

.board-card:hover {
  cursor: pointer;
  background-color: #9fc5e0;
}

.board-card-name {
  display: flex;
  justify-content: space-between;
  font-family: 'Lobster', cursive;
  padding: 5px 5px 5px 15px;
  font-size: 22px;
  cursor: pointer;
}

.board-card-body-link, .board-card-body-link:hover {
  color: #43184a;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
.board-card-body-link:hover {
  color: #35133b;
}

i {
  cursor: pointer;
}
