.card {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  padding: 5px;
}
.grey {
  color: #adadad;
}
.name {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.name span {
  cursor: pointer;
  font-family: 'Lobster', cursive;
}

.created {
  color: #5e2525;
  font-size: 12px;
}
