.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* overflow-x: scroll; */
  margin-left: 20px;
}
.list-name {
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10px;
}
.list-name span {
  cursor: pointer;
}
.hide {
  display: none;
}
.form-list {
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 300px;
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  border: 0px;
  padding: 10px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.form-list .button-add:hover, .button-add:active {
  background-color: darken(#FFFFFF, 5%);
}
