.modal-container, .modal-container-edit {
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.modal-container {  width: 300px; }
.modal-container-edit { width: 500px; }
.modal-content {
  border: 1px solid gray;
  border-radius: 5px;
}
.users-container {
  display: flex;
  justify-content: flex-start;
}
.close-user { color: red; }
.close-user:hover { cursor: pointer; }
.modal {
  z-index: 1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.modal-head button, button:active, button:hover {
  background-color: #FFFFFF;
  border: 0;
}
.modal-body {
  padding: 5px 10px 10px 10px;
}
