.modal-container {
  display: flex;
  font-family: 'Lobster', cursive;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.modal-content {
  border: 1px solid gray;
  border-radius: 5px;
}
.modal {
  z-index: 1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.modal-head {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  font-size: 18px;
}

.modal-head button, button:active, button:hover {
  background-color: #FFFFFF;
  border: 0;
}
.modal-body {
  padding: 5px 10px 5px 10px;
}
